// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";

body{
  // overflow: scroll !important;
  overflow-y: scroll !important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

* {
  font-family: 'Lato';
  font-size: 300;
}
.s-fn-wrapper-item{
  display: block;
  margin: 0 auto;
}
.s-fn-sub-menu-item li{
  display: block;
  text-align:center;
  padding: 2px;
  border-radius: 45px;
}
.s-fn-sub-menu-item li a{
  font-size: 3.5em;
  line-height: 2em;
  background-color: #c0392b;
  color: white;
  display: block;
}

.s-fn-sub-menu-item li a:hover{
  font-size: 3.5em;
  line-height: 2em;
  background-color: #81241d;
  color: white;
}

.mod-logo-techsoup img{
  display:block;
  margin: 0 auto;
  min-width: 500px;
  margin-bottom: 20px;
}


#navMenu{
  // display: block;
  // width: 300px;
  margin: 0 auto;
}

.s-fn-item-link span {
  display: block;
  text-align: center; 
  font-size: 5em;
  line-height: 2em;
  background-color: #16a085;
  color: black;
  margin: 2px auto;
}

// navigation menu
#navMenu img{
  display: none;
}
.s-fn-title-item{
  display: inline;
  min-width: 48%;
  max-width: 48%;
  // margin: 0 auto;
}

.mod-simple-product {
  display:block;
  width:100%;
}

  .s-sp-image-container{
    width:49%;
    max-width:250px;
    .s-sp-image{
      width:100%;
    }
  }

  .s-sp-content-wrapper{
    // background-color:yellow;
    width:50% !important;
    max-width:250px;
    min-height:100px;

    // .s-sp-fixed-height-container .s-sp-content-title{
    // font-size: 1.5em;
    // line-height: 1.1em;
    // }

   .s-sp-content, .s-sp-add-to-cart{
    font-size: 1.5em;
    line-height: 0.9em;
    }
    .s-sp-content-title a{
    font-size: 1.5em;
    line-height: 0.9em;
    }
  }
  #ctl00_PlaceHolderMain_Editmodepanel2_ProductsTasksList_CategoryAndSubCategorySelector{
    width: 100%;
  }
  select{
    display:block;
    width:100%;
    max-width: 90%;
    height:40px;
  }
.s-sp-add-to-cart-button{
  display: none;
}
.ext-mod-simple-product--simple-listing.fn-add-margin-left {
margin-left:0;
}

.ext-mod-simple-box--without-title-border select {
  border: 1px solid white;
  background-color: #c0392b;
  color: white;
  width: 100%;
  font-size: 2em;
  line-height: 2em;
}
