// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";

body{
  -ms-overflow-y: scroll !important;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
}
.s-fn-wrapper-item{
  display: block;
  margin: 0 auto;
}
.s-fn-sub-menu-item li{
  display: block;
  text-align:center;
  padding: 2px;
  border-radius: 45px;
}
.s-fn-sub-menu-item li a{
  font-size: 3.5em;
  line-height: 2em;
  background-color: #c0392b;
  color: white;
  display: block;
}

.s-fn-sub-menu-item li a:hover{
  font-size: 3.5em;
  line-height: 2em;
  background-color: #81241d;
  color: white;
}

.mod-logo-techsoup img{
  display:block;
  margin: 0 auto;
  min-width: 500px;
  margin-bottom: 20px;
}


#navMenu{
  // display: block;
  // width: 300px;
  margin: 0 auto;
}

.s-fn-item-link span {
  display: block;
  text-align: center;
  font-size: 5em;
  line-height: 2em;
  background-color: #16a085;
  color: black;
  margin: 2px auto;
}

// navigation menu
#navMenu img{
  display: none;
}
.s-fn-title-item{
  display: inline;
  min-width: 48%;
  max-width: 48%;
}
.s-sp-image-container{
  width:29%;
  img {
    width:100% !important;
  }
}
.s-sp-content-wrapper{
  width:69% !important;

  .s-sp-content{
    padding:7px;
    font-size: 2em;
    line-height: 1.1em;
  }
  .s-sp-add-to-cart{
    font-size: 4em;
    line-height: 2em;
  }
  .s-sp-content-title a{
      // text-decoration: underline;
      font-style: oblique;
      font-size: 2.5em;
      color:white;
      line-height: 0.9em;
    }
  }
  #ctl00_PlaceHolderMain_Editmodepanel2_ProductsTasksList_CategoryAndSubCategorySelector{
    width: 100%;
  }
  select{
    display:block;
    background-color:#2980b9 !important;
    -webkit-appearance: none;
    width:100%;
    max-width: 80%;
    margin:0 auto;
    height:60px;
    padding: 10px 10px 10px 30px;
    border-radius: 0px !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    border: 1px solid white;
    color: white;
    font-size: 2.5em;
    min-width: 400px;
  }

// styles the browse more products
#ctl00_PlaceHolderMain_Editmodepanel2_ProductListingTitle span{
  display:none;
}
.s-sp-add-to-cart-button{
  display: none;
}
.ext-mod-simple-product--simple-listing.fn-add-margin-left {

}
.mod-simple-product {
  margin-left:0;
  background-color:#c0392b;
  color:white;
  display:block;
  width:100%;
  text-align:center;
  padding:5px;
  min-width: 640px;
}
.s-sp-fixed-height-container{
  padding:5px;
}
._header {
  text-align: center;
}
