// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";

body{
  overflow: scroll !important;
}
.s-fn-title-item{
  display: block;
  margin: 0 auto;
}

.s-fn-wrapper-item{
  display: block;
  margin: 0 auto;
}
.s-fn-sub-menu-item li{
  // width:100%;
  display:inline-block;
  text-align:center;
  padding:10px;
  border-radius: 45px;
}
.s-fn-sub-menu-item li a{
  font-size: 4em;
  line-height: 4em;
  padding:10px;
  margin: 5px;
  background-color: #97679d;
  color: white;
}
.s-fn-sub-menu-item li a:hover{
  font-size: 4em;
  line-height: 4em;
  padding:10px;
  margin: 5px;
  background-color: #cea9d3;
  color: white;
  box-shadow: 0px 0px 25px 5px rgba(255, 255, 190, .75);
}
.mod-logo-techsoup{
  display:block;
  margin: 0 auto;
}
#navMenu{
  // display: block;
  // width: 300px;
  margin: 0 auto;
}

.s-fn-item-link span {
  font-size: 2em;
  margin: 5px;
}
