

/* line 3, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
._home {
  /* Required SCSS Styling */
  /* Required CSS Styling */ }
  /* line 18, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='button'] {
    opacity: 0.5; }
  /* line 21, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='button'][data-ur-state='enabled'] {
    opacity: 1.0; }
  /* line 24, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='content'] {
    display: none; }
  /* line 27, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='content'][data-ur-state='enabled'] {
    display: block; }
  /* line 34, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='button'] {
    opacity: 0.5; }
  /* line 37, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='button'][data-ur-state='enabled'] {
    opacity: 1.0; }
  /* line 40, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='content'] {
    display: none; }
  /* line 43, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/pages/_home.scss */
  ._home *[data-ur-set="tabs"] *[data-ur-tabs-component='content'][data-ur-state='enabled'] {
    display: block; }

/* line 14, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
body {
  overflow-y: scroll !important;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

/* line 20, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
* {
  font-family: 'Lato';
  font-size: 300; }

/* line 24, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-fn-wrapper-item {
  display: block;
  margin: 0 auto; }

/* line 28, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-fn-sub-menu-item li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 45px; }

/* line 34, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-fn-sub-menu-item li a {
  font-size: 4em;
  line-height: 2em;
  padding: 10px;
  margin: 5px;
  background-color: #97679d;
  color: white;
  float: left; }

/* line 44, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-fn-sub-menu-item li a:hover {
  font-size: 4em;
  line-height: 2em;
  padding: 10px;
  margin: 5px;
  background-color: #cea9d3;
  color: white;
  box-shadow: 0px 0px 25px 5px rgba(255, 255, 190, 0.75);
  float: left; }

/* line 55, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.mod-logo-techsoup img {
  display: block;
  margin: 0 auto;
  min-width: 500px;
  margin-bottom: 20px; }

/* line 63, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
#navMenu {
  margin: 0 auto; }

/* line 69, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-fn-item-link span {
  display: block;
  text-align: center;
  font-size: 5em;
  line-height: 2em;
  padding: 5px;
  margin: 5px;
  background-color: #61cc6c;
  color: black;
  margin: 2px auto; }

/* line 83, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
#navMenu img {
  display: none; }

/* line 86, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-fn-title-item {
  display: inline;
  min-width: 48%;
  max-width: 48%; }

/* line 93, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.mod-simple-product {
  display: block;
  width: 100%; }

/* line 98, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-sp-image-container {
  width: 49%;
  max-width: 250px; }
  /* line 101, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
  .s-sp-image-container .s-sp-image {
    width: 100%; }

/* line 106, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-sp-content-wrapper {
  width: 50% !important;
  max-width: 250px;
  min-height: 100px; }
  /* line 117, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
  .s-sp-content-wrapper .s-sp-content, .s-sp-content-wrapper .s-sp-add-to-cart {
    font-size: 1.5em;
    line-height: 0.9em; }
  /* line 121, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
  .s-sp-content-wrapper .s-sp-content-title a {
    font-size: 1.5em;
    line-height: 0.9em; }

/* line 126, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
#ctl00_PlaceHolderMain_Editmodepanel2_ProductsTasksList_CategoryAndSubCategorySelector {
  width: 100%; }

/* line 129, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
select {
  display: block;
  width: 100%;
  max-width: 90%;
  height: 40px; }

/* line 135, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.s-sp-add-to-cart-button {
  display: none; }

/* line 138, /Users/Jupitor/Desktop/techsoup/assets/stylesheets/main.scss */
.ext-mod-simple-product--simple-listing.fn-add-margin-left {
  margin-left: 0; }
